.gender{
    padding-left: 28px;
    margin-top: 13px;
}
.permanentAddress{
    padding-top: 14px;
}
.custom-p-t-136 {
    padding-top: 30px;
}
.custom-padding-img{
    padding-top: 230px;
}
.custom-padding-img-upload{
    padding-top: 11px;
}
.custom-profile-img{
    width: 100%;
    max-width: 219px;
    height: auto;
}
